
body, html {
	margin: 0 auto;
	height: 100%;
}

/* fixed header*/
.fixed_container {
	position: fixed;
	background: orange;
	width: 100%;
	min-height: 100px;
	bottom: auto;
	z-index: 2;
}


header h1 {
	margin-top: 30px;
	float: left;
}

.text{
	font-size: 30px;
}


header .image {
	height: 70px;
	width: 70px;
	padding: 10px 10px 10px 10px;
	float: left;
	filter: invert(100%);
}

header .navbar{
	float: right;
	margin: 20px 20px 10px 0px;
}

header .navbar li{
	display: inline;
}

header .navbar li a, header h1 a{
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 10px;
}
header .navbar li a:hover{
	color: gray;
	transition: 1s;
	letter-spacing: 1.5px;
}


/* wrapper for whole body except header and footer */
.main_body_wrapper {
	position: relative;
	top: 100px;
	width: 100%;
	
	margin: 0px auto;
	z-index: -1;
}

/* parallax image effect */
.parallax{
	/*margin: 0px auto;*/

	/*image properties*/
	background-image: url(../img/back.jpg);
	height: 100%;

	/*creating parallax effect*/
    /*opacity: 0.95;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	/* text formatting*/
	color: white;
	font-family: 'Open Sans', sans-serif;

}

/* h2 section inside parallax */
.parallax h2{
	padding-left: 10px;
	text-align: center;
}

/* main body */
.main_body {
	position: relative;
	width: 980px;
	
	margin: 0px auto;
	/*background-color: #ffff57; */
	z-index: 0;
	background: rgba(0, 0, 0, 0.3);
}


/* boxes in sect3 */
.boxes{
	height: 400px;
	background: rgba(148, 103, 25, 0.5);
	border-radius: 10px;
}


/* padding for 3 parts */
.sect2, .sect3, .hero {
	padding: 20px 10px 0px 10px;
}

.rows_heading{
	height: 20px; 
	margin: 20px 0px 10px 0px;

	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;

}

.rows{
	height: 110px; 
	/*background-color: red; */
	margin: 10px 0px;
}

.rows dl{
	padding: 0px 10px;
	text-align: justify;
} 
.rows a {
	text-decoration:none;
	color: white;
	font-family: 'Lexend Giga', sans-serif;
}

.rows a:hover {
	letter-spacing: 2px;
	transition: 0.3s;
	color: gray;
}


article h2{
	font-family: 'Dancing Script', cursive;

}

article {
	padding: 10px;
	font-family: 'Quicksand', sans-serif;
	text-align: justify;
	font-size: 15px;
	line-height: 20px ;
}

.form_wrapper, .rows_wrapper{
	height: 460px;
	background: rgba(0, 0, 0, 0.5);
}

fieldset{
	border: 1px solid white;
	padding: 10px;
}

.type-1 {
	width: 390px;
	height: 30px;
	border-radius: 5px;
	margin: 10px auto;	
}

.type-2 {
	width: 395px;
	height: 30px;
	border-radius: 5px;
	margin: 10px auto;
	border-style: none;
	font-size: 15px;
}

.type-2:hover {
	background-color: green;
	transition: 0.3s;
}


textarea {
	width: 390px;
	height: 60px;
	border-radius: 5px;
	margin: 10px auto;
	resize: none;	
}

.label_select {
	cursor: pointer;
}


.my_footer{
	position: relative;
	width: 100%;
	height: 100px;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	background: url(../img/footer_back.jpg);
	z-index: -121;

}

.notes, .social{
	margin: 10px ;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: white;
}

.notes {
	width: 700px;
	float: left;
}

.social{
	float: right;
	text-align: right;
}

.social li{
	display: inline;
	padding-right: 10px;
}

.social img{
	height: 35px;
	width: 35px;
	filter: invert(1);

}
